---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

I made a change

{% set postslist = collections.posts | head(-25) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}
